= devise_error_messages!
.field.form-group
  = f.label :name
  = f.text_field :name, autofocus: true, class: 'form-control'
.field.form-group
  = f.label :username
  = f.text_field :username, class: 'form-control'
.field.form-group
  = f.label :email
  = f.email_field :email, class: 'form-control'

- if local_assigns[:organization_select]
  .field.form-group
    = f.label :organization
    = f.collection_select(:organization_id,
                          Organization.list_public,
                          :id,
                          :title)

- if local_assigns[:select_approved]
  .field.form-group
    = f.label :approved
    = f.check_box :approved

- if current_page?(new_user_registration_path)
  .field.form-group
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  .field.form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

.actions.form-group
  = f.submit local_assigns[:submit_text], class: 'btn btn-primary'
  - if local_assigns[:shared_links]
    = render 'devise/shared/links'
