%h1= "Hello, #{current_user.name} (#{@calendar.date.year} #{@calendar.date.month})"
%table{class: 'table table-striped table-hover text-center'}
  %thead
    %tr
      - @calendar.days_table_header.each do |day|
        %td= day
  %tbody
    - @calendar.table_days.each do |week|
      %tr
        - week.each do |day|
          - if day
            - if day.prices.count.positive?
              %td{class: 'success'}
                %a{href: '', style: 'display: block'}= day.day 
            - else
              %td= day.day
          - else
            %td &nbsp;
= render 'menu', page: @page
