- group_menu(prices).each do |course, prices|
  %div{class: 'panel panel-default'}
    %div{class: 'panel-heading'}
      Menu Items For #{Item.course_name(course)}
    %table{class: 'table'}
      %thead
        %tr
          %td Title
          %td Course
          %td Price
          %td Date
          %td Actions
      %tbody
        - prices.each do |price|
          %tr{class: "price-row #{'success' if order && order.contains_course(price)}"}
            %td= price.item.title
            %td= price.item.course
            %td= price.value
            %td= price.date
            %td
              - if order
                = form_tag(orders_select_price_path, name: 'select_price', method: :post) do
                  = hidden_field_tag(:price_id, price.id)
                  = hidden_field_tag(:order_id, order.id)
                  = submit_tag('Add To Order', class: 'btn btn-primary')
              - elsif lunches_admin?
                = link_to 'Delete', price_path(price), method: :delete, class: 'btn btn-danger'

