%p#notice= notice
%h1 Admin Menus
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @admin_menus.each do |admin_menu|
      %tr
        %td= link_to 'Show', admin_menu
        %td= link_to 'Edit', edit_admin_menu_path(admin_menu)
        %td= link_to 'Destroy', admin_menu, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Admin Menu', new_admin_menu_path
