!!! 5
%html
  %head
    %title Luncher
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "autocomplete-rails.js"
  %body
    = render 'layouts/navbar'
    %div{ class: 'container-fluid container-main' }
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
